
<section id="clients" >
<div class="container">
<table class="table table-hover table-bordered"  text-align="center">
    <caption><b>专业方向</b></caption>
    <thead>
    <tr>
        <th align="center" width="20%">专业</th>
        <th align="center" width="80%">专业方向</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td rowspan="5" align="center" valign="middle">
        音乐学</td>
    </tr>
    <tr  align="center">
        <td>音乐教育</td>
    </tr>
    <tr   align="center">
        <td>音乐学理论</td>
    </tr>
    <tr   align="center">
        <td>艺术管理</td>
    </tr>
    <tr   align="center">
        <td>钢琴调律</td>
    </tr>

    <tr >
        <td rowspan="8" align="center" valign="middle">
            音乐表演</td>
    </tr>
    <tr  align="center">
        <td>演唱（美声、民族声乐）</td>
    </tr>
    <tr   align="center">
        <td>通俗声乐演唱与编导（含通俗声乐、美声、民族声乐）</td>
    </tr>
    <tr   align="center">
        <td>中国乐器演奏（二胡、琵琶、扬琴、古筝、竹笛、笙、唢呐、民族打击乐器）</td>
    </tr>
    <tr   align="center">
        <td>西洋管弦•打击乐器演奏（小提琴、中提琴、大提琴、低音提琴、小号、圆号、长号、大号、长笛、双簧管、单簧管、大管、西洋打击乐器、竖琴）</td>
    </tr>

    <tr   align="center">
        <td>钢琴演奏</td>
    </tr>
    <tr   align="center">
        <td>键盘乐器演奏与编导（钢琴、手风琴、电子管风琴）</td>
    </tr>
    <tr   align="center">
        <td>通俗乐器演奏（爵士鼓、古典吉他、萨克斯管）</td>
    </tr>

    </tbody>
</table>
</div>
</section>
<!-- Clients Aside
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>-->