


<table class="table table-hover table-bordered" >
    <caption>上下文表格布局</caption>
    <thead>
    <tr>
        <th>专业</th>
        <th>专业方向</th>

    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td rowspan="5" align="center"  style:"vertical-align: middle" >
        音乐学</td>

    </tr>
    <tr  align="center">

        <td>音乐教育</td>

    </tr>
    <tr   align="center">

        <td>音乐学理论</td>

    </tr>
    <tr   align="center">

        <td>艺术管理</td>

    </tr>
    <tr   align="center">

        <td>钢琴调律</td>

    </tr>
    </tbody>
</table>


<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>