
<div class="container">
    <div class="row">
        <div class="col col-md-5 col-sm-12"><h1>About us</h1></div>
        <div class="col col-md-7 col-sm-12 center-row" id="about_content">
            <div class="row center">
                <div class="col col-md-4 col-sm-12 templatemo_ceo">
                    <img src="images/templatemo_image_02.jpg" alt="Linda" class="center-block img-circle img-responsive">
                    <p>Linda, CEO</p>
                </div>
                <div class="col col-md-8 col-sm-12">
                    <p>Karma is <a href="#">free HTML5 template</a> based on Bootstrap responsive framework. Feel free to use this layout for any website.</p>
                    <p>Vestibulum ac enim.Vestibulum at mollis justo, eu elementum nisi. Sed consequat odio eget nunc tristique venenatis. Nullam non eros molestie, tristique libero ut, lacinia diam.</p>
                    <p>Integer hendrerit nibh at aliquam tincidunt. Duis auctor congue arcu eget congue. Vestibulum tristique sollicitudin est, non porttitor est viverra quis.</p>
                </div>
            </div>
        </div>
    </div>
</div>